.Weather {
  width: calc(100% - 32px);
  max-width: 700px;
  box-sizing: border-box;
  border: 1px solid #5a5c5e;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

@media (max-width: 576px) {
  .Weather {
    width: calc(100% - 12px);
    padding: 12px;
  }
}

h1 {
  font-size: 48px;
}

.Weather .date {
  font-size: 20px;
}

.Weather .weather-icon {
  display: inline-block;
  height: 110px;
  width: 110px;
}

.forecast-temp {
  font-size: 13px;
}

.current-temp {
  color: black;
}
.temperature {
  font-size: 90px;
}

.unit {
  position: relative;
  top: -40px;
  font-size: 24px;
}

.Weather .conditions {
  font-size: 18px;
}

footer {
  font-size: 13px;
  color: rgb(135, 135, 135);
}

@media (max-width: 594px) {
  footer {
    font-size: 10px;
  }
}
